<h1> Quotes Search Results </h1>
<h2> Total Results: <%= @quotes.count %> </h2>
<% @quotes.each do |quote| %>
    <h3> Quote: <%= quote.content %> </h3>
    <h3> Author: <%= quote.author %> </h3>
    <h3> Tags: <%= quote.tags %> </h3>
    <br>
<% end %>