<h1>Quotes Matching Search For: <%= "#{params[:query]}"%></h1>

<% @quotes.each do |quote| %>
 <ul>
  <li><%= quote[:author] %> - <%= quote[:content] %> tags: <%= quote[:tags] %></li>
 </ul>
<% end %>