---
http_interactions:
- request:
    method: get
    uri: https://api.quotable.io/search/quotes?limit=10&query=I%20am
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba4-MdVCV9Z1CY4+VQZaoELf97u+0nU"
    body:
      encoding: UTF-8
      string: '{"count":10,"totalCount":151,"page":1,"totalPages":16,"lastItemIndex":10,"results":[{"_id":"OHNMF1vCnPFE","content":"If
        I am not for myself, who will be for me? If I am not for others, what am I?
        And if not now, when?","author":"Rabbi Hillel","tags":["famous-quotes","wisdom"],"authorId":"cII2_MfYV9sI","authorSlug":"rabbi-hillel","length":100,"dateAdded":"2019-01-08","dateModified":"2022-07-04"},{"_id":"uQwITry_sQQv","content":"I
        am not bothered by the fact that I am unknown. I am bothered when I do not
        know others.","author":"Confucius","tags":["wisdom"],"authorId":"ropvZKOXYhLr","authorSlug":"confucius","length":89,"dateAdded":"2020-02-22","dateModified":"2022-07-04"},{"_id":"Vs-4YEGn","content":"I
        can, therefore I am.","author":"Simone Weil","tags":["inspirational"],"authorId":"bUP0cHEuKQBn","authorSlug":"simone-weil","length":22,"dateAdded":"202[...]
